resources/*
adb
deb
deb/*
cdnproxy
chs/*
gappproxy/*
Hold-Script-Dir/*
old.script/*
slimrat*
*.png
*.jpg
chsdir
*fonts
*icons
*themes
*font
*ssh
*xmodmaprc
*.swp
*/weather-icon/*
*/calendar/*
config
*.deb
.DirIcon
.encfs*
Quake*
*.mo
*.wav
*.txt
*.tar
*.gz
*.svg
*.json

