goagent-local
old*
*old
cairo-weather
paste-img
nmn
mkd.*
lighttpd
*linux64*
project*
QuakeWars
slide
aliedit*
binux*
inkling*
tf2*
deb

adb
tags
note
config
doc
upload

*.png
*.jpg
*.pdf
*.tar
*.gz
*.svg
*.swp
*.deb
*.mo
*.wav
*.txt
*.db
*.html
*.dot
*.out
*.hex
*.asm
*.pdf
*.json
*.mkd
*.log
