html {
	font-size: 90%; /* 整体缩放 */
}
body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #f2f2f2;
}
a {
    color: #308bd8;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    line-height:1.5em;
	text-align:center
}
ol li {
	padding: 0 20px;
    border-left: 3px solid #ddd;
	color: #955800;
}
ul li {
    padding: 0 20px;
    border-left: 3px solid #ddd;
    color: #955800;
}
pre {
    margin-left: 10;
    margin-right: 10;
    width: 90%;
	padding:10px 10px 10px 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #eee;
}
code {
	font-size: 1.1em;
    color: #088300;
	font-family: "Courier New", Monaco, mono;
}
blockquote {
    margin-left: 10;
    margin-right: 10;
    width: 90%;
    padding: 0 20px;
    border-left: 3px solid #ddd;
    color: #955800;
    font-style: italic;
}

