html {
/*    font-size: 90%; |+ 整体缩放 +|*/
}
body {
	margin-left: 5%;
	margin-right: 5%;
	background-color: #eee;
}
a {
	color: blue;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 1px #888;
}
h1 {
    line-height:1.5em;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
h1,h2,h3,strong {
	color: 0;
	text-shadow: 1px 1px 1px #888;
}
em {
	text-decoration:underline;
	font-weight:bold;
	padding: 0 3px 0 3px;
}
strong {
	padding: 0 3px 0 3px;
}
ol {
	list-style-image:url("Checkmark.png");
/*    list-style:inside url("Checkmark.png");*/
}
li {
	padding: 2px 2px 2px 8px;
	border-left: 3px solid #080;
	color: #666;
}
li:nth-child(2n) {
	background: #eee;
}
li:nth-child(2n-1) {
	background: #ddd;
}
code {
	font-size: 1.2em;
	font-weight: bold;
	color: #088300;
	font-family: 'Courier 10 Pitch',"Courier New",Monospace;
}
blockquote {
	margin-left: 10;
	margin-right: 10;
	width: 90%;
	padding: 0 20px;
	border-left: 3px solid #ddd;
	color: #955800;
	font-style: italic;
}

