html {
/*    font-size: 90%; |+ 整体缩放 +|*/
}
body {
	margin-left: 5%;
	margin-right: 5%;
	background-color: #f2f2f2;
}
a {
    color: #308bd8;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    line-height:1.5em;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
em {
	text-decoration:underline;
	font-weight:bold;
	padding: 0 3px 0 3px;
}
strong {
	padding: 0 3px 0 3px;
}
li {
	padding: 2px 5px 2px 5px;
    border-left: 3px solid #080;
	color: #666;
}
li:nth-child(2n-1) {
	background: #ddd;
}

pre {
    margin-left: 10;
    margin-right: 10;
    width: 90%;
	padding:5px 5px 5px 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #eee;
	border-left:solid #088300 5px;
}
code {
	font-size: 1.2em;
	font-weight: bold;
	color: #088300;
	font-family: 'Courier 10 Pitch',"Courier New",Monospace;
}
blockquote {
    margin-left: 10;
    margin-right: 10;
    width: 90%;
    padding: 0 20px;
    border-left: 3px solid #ddd;
    color: #955800;
    font-style: italic;
}

