[Desktop Entry]
Type=Application
Terminal=false
Name=GoAgent
Icon=/home/eexp/图片/icon/info.png
Actions=Start;Stop

[Desktop Action Start]
Name=Start GoAgent
Exec=/bin/bash -c "~/bin/msg call-start goagent start; cd ~/bin/goagent-local/; python ./proxy.py"
OnlyShowIn=Unity;

[Desktop Action Stop]
Name=Stop GoAgent
Exec=/bin/bash -c "~/bin/msg call-stop goagent stop; lsof -i :8087|sed -n 2p|cut -d' ' -f 3|xargs kill"
OnlyShowIn=Unity;
