#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Terminal=false
Name[zh_CN]=脚本集合：缺省监视剪贴板
Name=Script Group: Monitor-Clip
Icon=/home/eexp/图片/icon/clip0.png
Exec=/home/eexp/bin/monitor-clip.pl

# multi menu items
X-Ayatana-Desktop-Shortcuts=s1;s2

[s1 Shortcut Group]
Name=a-irc彩色
Exec=/home/eexp/bin/script.ascii/a-irc彩色.pl
TargetEnvironment=Unity

[s2 Shortcut Group]
Name=a-irc彩色.pl -f
Exec=/home/eexp/bin/script.ascii/a-irc彩色.pl -f
TargetEnvironment=Unity

