[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Desperados: Wanted Dead or Alive
GenericName=Desperados: Wanted Dead or Alive
Comment=Desperados: Wanted Dead or Alive
Icon=/home/eexpss/Game/Linux/Desperados Wanted Dead or Alive/support/icon.png
Exec="/home/eexpss/Game/Linux/Desperados Wanted Dead or Alive/start.sh" ""
Categories=Game;
Path=/home/eexpss/Game/Linux/Desperados Wanted Dead or Alive

