[Desktop Entry]
Name=LocalSend
Comment=LocalSend
Exec=/home/eexpss/app/LocalSend-1.8.0.AppImage %F
Terminal=false
Type=Application
Icon=/home/eexpss/bin/config/+local+share+applications/localsend.png
Categories=LAN;Network;Wireless;
MimeType=text/markdown;
Keywords=LocalSend;
Actions=NewWindow;
