[Desktop Entry]
Name=MarkText
Exec=/home/eexpss/app/marktext-x86_64.AppImage
Terminal=false
Type=Application
Icon=marktext
StartupWMClass=marktext
Keywords=marktext;
Comment=A simple and elegant open-source markdown editor that focused on speed and usability.
MimeType=text/markdown;
Categories=Office;TextEditor;Utility;
