=> background /home/exp/媒体/壁纸●/1280x800及以上/木纹桌面-鸣学.png
=> font Billo Dream 24
=> pango 20,540 /home/exp/bin/cairo2png/cal.pl
=> font WenQuanYi Micro Hei 14
=> pango 300,40 /home/exp/bin/cairo2png/todo.pl
<span color='#4746D8'>待办事宜</span>
=> pango 750,40 /home/exp/bin/cairo2png/weather.pl
<span color='#4746D8'> 天气预报</span>
///home/exp/媒体/飞屋环球.png
//=> background /home/exp/媒体/飞屋环球.png /home/exp/媒体/xm.png /home/exp/媒体/xm.jpg /home/exp/媒体/飞屋环球1.png
//=> background /home/exp/媒体/
//=> pango 100,30
//<span color='#957966' font='WenQuanYi Micro Hei 14'><span color='#4746D8'>待办事宜：</span>
//USB蓝牙适配器-wii遥控手柄
//incrontab丢失事件
//</span>
//=> pango 5,280 /home/exp/bin/cal.pl
