Package: paste-img
Version: 0.65
Description: paste image file to serveral web hosts.  
Section: graphic
Priority: 
Maintainer: eexpress@163.com
Installed-Size: 26k
Architecture: all
Depends: perl, libnet-dbus-perl, libwww-mechanize-perl, xsel, libgtk2-perl, libgtk2-gladexml-perl, scrot, perl-doc
