Package: paste-img
Version: 0.54
Description: paste image file to serveral web hosts.  
Section: graphic
Priority: 
Maintainer: eexpress@163.com
Installed-Size: 26k
Architecture: all
Depends: perl, libnet-dbus-perl, libwww-mechanize-perl, xsel
