[Desktop Entry]
Name=Image Paster
Name[zh_CN]=贴图到缺省网站
Comment=Paste Image file to Web
Comment[zh_CN]=将图片贴到缺省贴图网站
Exec=pasteimg.pl %U
Icon=paste-img 
NoDisplay=true
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
