[Desktop Entry]
Type=Application
Terminal=false
Name[zh_CN]=监视剪贴板集合
Name=Monitor-Clip-Collect
Icon=clip0.png
Exec=monitor-clip.pl
Actions=Wiki;DownPlay;

[Desktop Action Wiki]
Name[zh_CN]=查询百科的词条
Name=Wikipedia Search
Exec=baike.pl

[Desktop Action DownPlay]
Name[zh_CN]=播放剪贴板的视频
Name=Play Video in Clipboard
Exec=/bin/bash -c "/home/eexpss/bin/you-get/you-get -p mplayer `xsel -b`"
