[Desktop Entry]
Name=mplayer
Exec=/usr/bin/mplayer
Icon=mplayer_osx_extended_icon_by_marc2o.png
Terminal=false
Categories=GTK;GNOME;Player;Video;
Type=Application
Keywords=play;media;video;
MimeType=video/3gp;video/3gpp;video/3gpp2;video/flv;video/mp4;video/mpeg;video/mpeg-system;video/msvideo;video/ogg;video/quicktime;video/webm;video/x-avi;video/x-flc;video/x-flv;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-mpeg2;video/x-msvideo;video/x-ms-wm;video/x-ms-wmv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;video/x-totem-stream;
