[Desktop Entry]
Name=mplayer
Name[zh_CN]=mplayer 播放器
Exec=/usr/bin/mplayer
Terminal=false
Icon=mplayer_osx_extended_icon_by_marc2o.png
Categories=Video;
Keywords=play;media;video;
