[alias]
        ci = commit
	stt = !sh -c 'git status|grep "modified:"'
	st = !sh -c 'git status|grep -B 100 "Untracked"'
	co = checkout
	df = diff
	who = shortlog -s --
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	sdf = !sh -c 'git diff "$@" | grep "^[+-]" | sort --key=1.2 | uniq -u -s1'
	alias = !sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -
[user]
	name = eexpress
	email = eexpress@163.com
