[Volume]
pic0=/home/eexp/bin/resources/icon/sound.png
pic1=/home/eexp/bin/resources/icon/megaphone.png
act0=amixer set Master toggle
act1=amixer set Master toggle
up=amixer set Master 10%+
down=amixer set Master 10%-
tip=调整音量。滚轮调大小，点击切换静音。

[Swap_Mouse]
pic1=/home/eexp/bin/resources/icon/right.png
pic0=/home/eexp/bin/resources/icon/left.png
act0=xmodmap -e "pointer = 3 2 1"
act1=xmodmap -e "pointer = 1 2 3"
tip=切换鼠标左右手
up=


