#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[zh_CN]=/usr/share/pixmaps/faces/baseball.png
Exec=/home/eexp/bin/ascii-art/a-irc彩色.pl
Name[zh_CN]=a-irc彩色.pl
Name=a-irc彩色.pl
Icon=/usr/share/pixmaps/faces/baseball.png
