html {
	font-size: 120%;
}
body {
	--ThemeColor:#8DC53E;
	--BackColor0:#ddd;
	--BackColor1:#eee;
	--BackColor2:#5C5C5C;
	background-color: var(--BackColor1);
/*	某些Mono字体没有粗体	*/
	font-family: 'URW Bookman L','Vera Sans YuanTi', Sans-serif;
/*
	font-family: 'Fira Mono','Vera Sans YuanTi', Sans-serif;
*/
	line-height:150%;
	color: #444;
	margin:1em 2em 1em 2em;
}
a	{	color: var(--ThemeColor);	}
a:hover {
	font-weight: bold;
	text-shadow: 2px 2px 2px LightGray;
}
h1	{	text-align: center;	}
h2,h3	{	display: inline;	}
h1,h2,h3 {
	color: 0;
	text-shadow: 2px 2px 2px LightGray;
	line-height: 3;		/*字体尺寸倍数*/
	letter-spacing: 0.5em;
	border-bottom: 0.3em dotted LightGray;
}
input {
	margin-left: 10px;
	margin-right: 10px;
}
em {	/*斜体，加粗，加下划线*/
	border-bottom: 0.1em solid;
	font-weight: bold;
	font-style: italic;
}
/*------------------------------------------------*/
pre {
	background-color:var(--BackColor2);
	word-wrap: break-word;
	border-left: 0.5em solid var(--ThemeColor);
	border-radius: 0.8em;	/*对code有效*/
	overflow-x:auto;
}
code {
	background-color:var(--BackColor2);	/*inline code必须要背景*/
	color: #eee;
	border-radius: 0.5em;	/*对inline有效*/
	padding: 0.1em 0.4em 0.1em 0.5em;	/*border内部*/
	margin: 0.5em 0.5em 0.5em 0.5em;		/*border外部*/
/*
	font-family: "Fira Mono";
	font-family: "Courier Prime";
	font-family: Monospace;
	font-family: "Motiva Sans Thin";
*/
	font-family: 'Fira Mono',"Courier Prime",Monospace;
	text-shadow: none;
	font-style: normal;
	display: inline-block;	/*解决大段代码首字对齐*/
}
blockquote {
	padding: 0.1em 0 0.1em 1em;
	border-left: 1em solid var(--ThemeColor);
	text-shadow: none;
	font-style: italic;
}
/*------------------------------------------------*/
table {
	margin: auto;
	width: 90%;
}
table,th,td {
	padding: 5px 10px 5px 10px;
}
table th {	/*表头*/
	background-color: var(--ThemeColor);
	color: #242424;
	font-weight:bold;
	text-shadow: white;
}
table td:nth-child(2n-1) {	/*单列加粗*/
	font-weight:bold;
}
table tr:nth-child(2n), li:nth-child(2n) {
	background: var(--BackColor1);
	text-shadow: 1px 1px 0px var(--BackColor0);
}
table tr:nth-child(2n-1), li:nth-child(2n-1) {
	background: var(--BackColor0);
	text-shadow: 1px 1px 0px white;
}
li {
	padding: 0.2em 0.2em 0.2em 0.8em;
	border-left: 0.2em solid var(--ThemeColor);
}
