[Desktop Entry]
Name=Show ON Screen
Name[zh_CN]=图片显示到桌面
Comment[zh_CN]=将svg/png图片显示到桌面，支持旋转缩放拉伸改色等操作。
Exec=showsvgpngtxt %U
Icon=/usr/share/pixmaps/showit.png
NoDisplay=false
MimeType=image/png;image/svg+xml
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;

