[Desktop Entry]
Name=ShowIt
Name[zh_CN]=桌面图片
Comment[zh_CN]=将svg/png图片显示到桌面，支持旋转缩放拉伸改色等操作。
Exec=showit
Icon=/usr/share/pixmaps/showit.png
NoDisplay=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;

