[Desktop Entry]
Name=Cairo Weather
Comment=Draw Weather on Desktop
Exec=cairo-weather.pl
Icon=cairo-weather
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;Viewer;
