Package: cairo-weather
Version: 0.80
Architecture: all
Maintainer: eexpress
Installed-Size: 12k
Depends: perl, libcairo-perl, gconf2, bsdmainutils, dnsutils, libgnome2-gconf-perl, libwww-perl
Suggests: libnotify-bin, habak
Section: utils
Description: draw weather on desktop using cairo
 Draw weather forecast on desktop. mainly support Chinese city.
 modify ~/.config/cairo-weather/config as you wish. setup something and enjoy it.

