Package: cairo-weather
Version: 0.88
Architecture: amd64
Maintainer: eexpress
Installed-Size: 43
Depends: 
Section: utils
Description: draw weather on desktop using cairo
 Draw weather forecast on desktop. mainly support Chinese city.
 parametr format http://qq.ip138.com/weather/hunan/ChangSha.wml

