html {
/*    font-size: 90%; |+ 鏁翠綋缂╂斁 +|*/
}
body {
/*    margin-left: 5%;*/
/*    margin-right: 5%;*/
	background-color: #eee;
	font-family: 'URW Gothic L', 'Vera Sans YuanTi', Sans-serif;
	color: #444;
	width:900;
	margin:auto;
}
a {
	color: green;
	text-shadow: 1px 1px 1px #aaa;
}
a:hover {
/*    text-decoration: overline;*/
	text-shadow: 1px 1px 2px #0b0;
}
h1 {
    line-height:1.5em;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
h1,h2,h3,strong,td {
	color: 0;
	text-shadow: 1px 1px 1px #888;
}
input {
	margin-left: 10px;
	margin-right: 10px;
}
em {
	text-decoration:underline;
	padding: 0 3px 0 3px;
	font-weight:normal;
}
strong {
	padding: 0 3px 0 3px;
}
ol {
	list-style-image:url("c.png");
}
ul {
	list-style-image:url("r.png");
}
li {
	padding: 2px 2px 2px 8px;
	border-left: 3px solid #080;
}
li:nth-child(2n) {
	background: #eee;
}
li:nth-child(2n-1) {
	background: #ddd;
}
pre {
	display:block;
/*    overflow:auto;*/
	width: 80%;
	margin-left: 5%;
	background-color:#333;
	padding: 2px 0px 2px 0px;
}
code {
	font-size: 1.1em;
	font-weight: normal;
	color: #ccc;
	background-color:#333;
	border-left:dashed #080 0.4em;
	padding: 2px 10px 2px 10px;
	font-family: 'Courier 10 Pitch',"Courier New",Monospace;
}
blockquote {
	margin-left: 10;
	margin-right: 10;
	width: 90%;
	padding: 0 10px 0 30px;
	border-left: 25px solid #ddd;
	font-style: italic;
}

div{
	text-align: center;
}
table {
	margin: auto;
	width: 80%;
}
table,th,td {
	padding: 5px 10px 5px 10px;
}
table th {
	background-color:#060;
	color: #eee;
}
table td:nth-child(2n-1) {
	font-weight:bold;
}
table tr:nth-child(2n) {
	background: #eee;
}
table tr:nth-child(2n-1) {
	background: #ddd;
}
