html {
/*    font-size: 90%;*/
}
body {
	background-color: #eee;
	font-family: 'URW Bookman L', 'Vera Sans YuanTi', Sans-serif;
	color: #444;
	width:900;
	line-height:150%;
	margin:0px 10px 0px 10px;
}
a {
	color: green;
	text-shadow: 1px 1px 1px #aaa;
}
a:hover {
	text-shadow: 1px 1px 2px #0b0;
}
h1 {
    line-height:1.5em;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
h4 {
	text-align:center;
}
h6 {
	text-align:right;
	color: #fff;
	background-color:#666;
}
h1,h2,h3,strong {
	color: 0;
	text-shadow: 1px 1px 1px #bbb;
}
input {
	margin-left: 10px;
	margin-right: 10px;
}
em {
	padding: 0 3px 0 3px;
	font-weight:bold;
	font-style: normal;
/*    text-decoration:underline;*/
	border-bottom-width:1px;   
	border-bottom-style:solid;
}
strong {
	padding: 0 3px 0 3px;
}
ol {
	list-style-image:url("c.png");
}
ul {
	list-style-image:url("r.png");
}
li {
	padding: 2px 2px 2px 8px;
	border-left: 3px solid #080;
}
li:nth-child(2n) {
	background: #eee;
	text-shadow: 1px 1px 1px #ccc;
}
li:nth-child(2n-1) {
	background: #ddd;
	text-shadow: 1px 1px 1px #fff;
}
pre {
	display:block;
/*    overflow:auto;*/
	width: 90%;
	margin-left: 5%;
	background-color:#333;
	padding: 2px 0px 2px 0px;
	word-wrap: break-word;
}
code {
	font-size: 1.1em;
	font-weight: normal;
	color: #ccc;
	background-color:#333;
	border-left:dashed #080 0.4em;
	padding: 2px 10px 2px 10px;
	font-family: 'Courier 10 Pitch',"Courier New",Monospace;
	text-shadow: none;
}
blockquote {
	margin-left: 10;
	margin-right: 10;
	width: 90%;
	padding: 0 10px 0 30px;
	border-left: 25px solid #ddd;
/*    font-style: italic;*/
	text-shadow: none;
	font-style: normal;
}

div{
	text-align: center;
}
table {
	margin: auto;
	width: 80%;
}
table,th,td {
	padding: 5px 10px 5px 10px;
}
table th {
	background-color:#060;
	color: #eee;
	font-weight:bold;
	text-shadow: none;
}
table td:nth-child(2n-1) {
/*table td {*/
	font-weight:bold;
}
table tr:nth-child(2n) {
	background: #eee;
	text-shadow: 1px 1px 1px #ccc;
}
table tr:nth-child(2n-1) {
	background: #ddd;
	text-shadow: 1px 1px 1px #fff;
}
