html {
/*    font-size: 90%;*/
}
body {
	background-color: #eee;
	font-family: 'URW Bookman L', 'Vera Sans YuanTi', Sans-serif;
	color: #444;
	line-height:150%;
	margin:10px 50px 10px 30px;
}
a {
	color: green;
	text-shadow: 1px 1px 1px #aaa;
}
a:hover {
	text-shadow: 1px 1px 2px #0b0;
}
h1 {
	text-align:		center;
	margin-top:		30px;
	margin-bottom:	20px;
}
h4 {
	text-align:center;
	font-size:medium;
}
h6 {
	text-align:right;
	color: #fff;
	background-color:#666;
}
h1,h2,h3,strong {
	color: 0;
	text-shadow: 1px 1px 1px #bbb;
}
input {
	margin-left: 10px;
	margin-right: 10px;
}
em,strong {
	margin: 0px 0.2em 0px 0.2em;
	padding: 0px 0.4em 0px 0.4em;
	font-weight:bold;
	font-style: normal;
}
em {
/*    text-decoration:underline;*/
	border-bottom-width:1px;   
	border-bottom-style:solid;
	font-style: italic;
}
ol {
	list-style-image:url("c.png");
}
ul {
	list-style-image:url("r.png");
}
li {
	padding: 2px 2px 2px 8px;
	border-left: 3px solid #080;
}
li:nth-child(2n) {
	background: #eee;
	text-shadow: 1px 1px 1px #bbb;
}
li:nth-child(2n-1) {
	background: #ddd;
	text-shadow: 1px 1px 1px #fff;
}
pre {
/*        display:block;*/
/*    overflow:auto;*/
/*        width: 90%;*/
/*        width: auto;*/
/*        margin-left: 2em;*/
	background-color:#333;
/*        padding: 0.1em 0.5em 0.1em 0.5em;*/
	word-wrap: break-word;
/*    border-color: #080;*/
/*    border-style:dotted none;*/
	border-left:0.5em solid #080;
	border-radius: 0.8em;	/*对code有效*/
}
code {
/*    inline code必须要背景*/
	background-color:#333;
	color: #eee;
	border-radius: 0.5em;	/*对inline有效*/
	padding: 0.1em 0.4em 0.1em 0.5em;	/*border内部*/
	margin: 0em 0.1em 0em 0.1em;		/*border外部*/
	font-family: 'Fira Mono',"Courier Prime",Monospace;
	text-shadow: none;
/*        font-weight:bold;*/
	font-style: normal;
	display: inline-block;	/*解决大段代码首字对齐*/
}
blockquote {
	padding: 0 0 0 1.5em;
	border-left: 1em solid #ddd;
	text-shadow: none;
	font-style: normal;
}

div{
/*    text-align: center;*/
}
table {
	margin: auto;
	width: 80%;
}
table,th,td {
	padding: 5px 10px 5px 10px;
}
table th {
	background-color:#060;
	color: #eee;
	font-weight:bold;
	text-shadow: none;
}
table td:nth-child(2n-1) {
/*table td {*/
	font-weight:bold;
}
table tr:nth-child(2n) {
	background: #eee;
	text-shadow: 1px 1px 0px #bbb;
}
table tr:nth-child(2n-1) {
	background: #ddd;
	text-shadow: 1px 1px 0px #fff;
}
