
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/eexp/game/QuakeWars/etqw.x86
Name=QuakeWars
Icon=/home/eexp/game/QuakeWars/etqw_icon.png
