#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Terminal=false
Name=MlDonkey Info
Icon=/home/eexp/bin/resources/icon/donkey.png
Exec=/home/eexp/bin/mlinfo.pl

# multi menu items
X-Ayatana-Desktop-Shortcuts=s1;s2;s3

[s1 Shortcut Group]
Name=Start MlDonkey
Exec=/bin/bash -c "~/bin/msg donkey.png mldonkey start; mlnet &"
TargetEnvironment=Unity

[s2 Shortcut Group]
Name=Stop MlDonkey
Exec=/bin/bash -c "~/bin/msg donkey.png mldonkey stop; echo kill | nc -q 1 localhost 4000"
TargetEnvironment=Unity

[s3 Shortcut Group]
Name=Toggle Speed
Exec=/bin/bash -c "~/bin/msg donkey.png toggle speed; echo bw_toggle | nc -q 1 localhost 4000"
TargetEnvironment=Unity

