[Desktop Entry]
Name=Image Puzzle
Name[zh_CN]=图片拼图
Comment=puzzle multi images into one picture
Comment[zh_CN]=将多个图片拼接合成单个图片
Exec=puzzle.bash %U
Icon=/usr/share/icons/MacBuntu-OS/apps/128/hi48-app-photolayoutseditor.png
NoDisplay=false
MimeType=image/jpeg;image/png;image/gif;
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;

